* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #000000;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  background: gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  padding: 10px 0;
}
header .container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .navbar ul {
  display: flex;
  align-items: center;
  gap: 46px;
}
header .container .navbar ul li a {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8980392157);
  transition: all 1s ease-in-out;
}
header .container .navbar ul li a:hover {
  color: yellow;
}
header .container .navbar .nav_right {
  display: flex;
  align-items: center;
  gap: 40px;
  color: rgba(255, 255, 255, 0.8980392157);
}
header .container .navbar .nav_right select {
  background: none;
  color: rgba(255, 255, 255, 0.8980392157);
  border: none;
  transition: all 1s ease-in-out;
}
header .container .navbar .nav_right select:hover {
  color: yellow;
}
header .container .navbar .nav_right button {
  width: 70%;
  height: 30px;
  border-radius: 100px;
  border: none;
  background: #000000;
  color: rgba(255, 255, 255, 0.8980392157);
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0 16px;
  transition: all 1s ease-in-out;
}
header .container .navbar .nav_right button:hover {
  background: none;
  border: 1px solid #F4C430;
  color: #000000;
}

main .section1 img {
  width: 100%;
}
main .section2 .container .card_left {
  margin-top: 80px;
  width: 30%;
}
main .section2 .container .card_left h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8705882353);
}
main .section2 .container .card_left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8705882353);
  padding-top: 13px;
}
main .section2 .container .cards {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
main .section2 .container .cards ul li h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8705882353);
  transition: all 1s ease-in-out;
}
main .section2 .container .cards ul li h2 span {
  color: rgba(255, 255, 255, 0.8705882353);
  transition: all 1s ease-in-out;
}
main .section2 .container .cards ul li a {
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8705882353);
  transition: all 1s ease-in-out;
}
main .section2 .container .cards ul li h2:hover {
  color: #F4C430;
}
main .section2 .container .cards ul li h2:hover span:hover {
  color: #F4C430;
}
main .section2 .container .cards ul li a:hover {
  color: #F4C430;
}
main .section2 .container .cards .card_rasm .kvad {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main .section2 .container .cards .card_rasm .kvad p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8705882353);
  transition: all 1s ease-in-out;
}
main .section2 .container .cards .card_rasm .kvad p:hover {
  color: #F4C430;
}/*# sourceMappingURL=style.css.map */